<nav>
    <ul>
        <li><a href="#" data-bind="click: CreateReport"><span class="icon-plus"></span> New Report</a></li>
        <li><a href="/Report/Search"><span class="icon-search"></span> Search Reports</a></li>
        <li><a href="/Medicals"><span class="icon-aid-kit"></span> Nurses Dashboard</a></li>
        <li><a href="/Admin"><span class="icon-user-tie"></span> Admin Dashboard</a></li>
    </ul>
</nav>
